<html>
    <head>
        <title>Message Board</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>Messages</h1>
        <ul>
            <% for (let i=0; i<messages.length; i++) {%>
                <% if (i == 0) { %>
                        <li>
                            <div class="date">
                                <%= messages[i].date %>
                            </div>
                        </li>
                <% } else if (messages[i].date != messages[i-1]?.date) { %>
                        <li>
                            <div class="date">
                                <%= messages[i].date %>
                            </div>
                        </li>
                <% } %>
                <li>
                    <div class="messageContainer">
                        <div class="user">
                            <%= messages[i].user %>
                        </div>
                        <div class="content">
                            <%= messages[i].text %>
                        </div>
                        <div class="timeStamp">
                            <%= messages[i].added %>
                        </div>
                    </div>
                </li>
            <%}%>
        </ul>
        <button class="new-message"><a href="/new">New Message</a></button>
    </body>
</html>