<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Message Details</title>
    </head>
    <body>
        <h1>Message Details</h1>
        <div class="message-container">
            <div>Message ID: <%= message.id %></div>
            <div>Author: <%= message.user %></div>
            <div>Content: <%= message.text %></div>
            <div>Timestamp: <%= message.added %></div>
            <div>Date: <%= message.date %></div>
        </div>
        <button><a href="/">Home</a></button>
    </body>
</html>